.d-flex {
  display: flex;
}

.j-c-c {
  justify-content: center;
}

.j-c-s {
  justify-content: flex-start;
}

.j-c-e {
  justify-content: flex-end;
}

.a-i-c {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.b-r-0 {
  border-radius: 0px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.avatar-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-wrapper {
  border-radius: 0px;
  width: 67px;
  height: 100vh;
  margin-top: 0px;
  background-color: #293149;
}

.app-container {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin-left: 100px;
  padding-top: 80px;
}

.app-sidebar {
  position: fixed;
  margin-top: 54px;
}

@media only screen and (max-width: 767px) {
  .app-sidebar{
    display: none;
  }

  .app-container {
    margin-left: 10%;
    padding-top: 120px;
  }
}

.menu-details {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 10px;
}
